$global-zindex-navbar:            1000;
$global-zindex-dropdown:          1000;
$global-zindex-popover:           1060;
$global-zindex-tooltip:           1070;
$global-zindex-navbar-fixed:      1030;
$global-zindex-modal-background:  1040;
$global-zindex-modal:             1050;
